---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Christian Rodriguez - Inicio">
    <div class="container p-3">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
                <h1 class="mainIntroduction">[<span class="color">Ing.</span>Christian Eduardo Rodriguez Perez /<br> Desarrollo de Software]
                </h1>

                <p class="mainDescription">
                    Apasionado de la informática, la innovación y las últimas tecnologías, soy desarrollador backend y administrador de bases
                    de datos tanto SQL como NoSQL. Tengo una sólida trayectoria de 3 años en el sector, durante los cuales he trabajado con
                    una gran variedad de lenguajes de programación de nivel medio y alto, ofreciendo soluciones potentes y eficaces.
                    
                </p>
            </div>
        </div>
    </div>
</Layout>


<style>
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

.mainIntroduction {
    font-family: "Fira Code", monospace;
    color: white;
    font-size: 2rem;
    margin-top:10vmin;
}

.mainDescription{
    font-family: "Fira Code", monospace;
    color: white;
    text-align: justify;
    font-size:1.2rem;
    margin-top:2rem;
}

.color{
    color: #7875FF;
}
</style>

