---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Christian Rodriguez - Experiencia">
    <div class="container mt-5">
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-lg-7">
                <h1 class="text-center stackMainTitle">
                    [Stack Principal]
                </h1>
                <div class="stack text-center">
                    Python, JavaScript, PHP, Laravel, MySQL, MongoDB, Laravel,
                    React, CSS, HTML, WordPress, Microsoft Office, Power BI,
                    PostgreSQL, Git
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

    .stackMainTitle {
        font-family: "Fira Code", monospace;
        color: white;
        font-size: 2rem;
    }

    .stack {
        font-family: "Fira Code", monospace;
        color: white;
        font-size: 1.2rem;
        margin-top:20vmin;
    }
</style>
